{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="icon" type="image/x-icon" href={% static "2wwd.png" %}>
  <link rel="stylesheet" href={% static "style.css" %} />
  <title>Download File</title>
</head>

<body>
  <div class="navbar">
    <img src={% static "2wwd.png" %} id="navbar-image">
    <h1>FILESHARE</h1>
  </div>
  <div class="main">
    <div class="download-page-center">
      <p id="header" style=" font-size: 20px">Thankyou for choosing FILESHARE ! </p>
      <p id="file-detail">FILE NAME : {{ filename }} <br>
      FILE SIZE : {{ filesize }} MB </p>
      <button class="btn" style="margin:20px auto"><a href="{{ filelink }}">download now</a></button>
    </div>
  </div>  

  <script src={% static "main.js" %}></script>
</body>

</html>